.about-container{
    background: linear-gradient(to bottom,  black, #020202);
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0px 30px;
}

.header-container{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    position: sticky;
    top: 0;
}

.header-wrapper{
    width: 50%;
    padding-top: 100px;
}

.about-p{
    width: 550px;
    text-align: left;
    line-height: 24px;
    padding-top: 100px;
    color: #a3a3a3;
}

.perfil-img{
    height: 200px;

    margin: 0px 0px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

.side-container{
    height: auto;
    width: 50%;
    text-align: center;
}

.header-h2{
    margin: 0;
    width: 100%;
    text-align: left;
    color: #cdbead;
    font-size: 60px;
}

.header-h3{
    margin: 0;
    color: #ada79f;
    font-weight: 400;
    font-size: 25px;
}

.header-p{
    font-size: 18px;
    color: #ada79f;
}

ul{
    list-style: none;
    color: #a3a3a3;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.list-a{
    display: flex;
    color: #a3a3a3;
    text-decoration: none;
    width: auto;
}

/*.list-a:hover{
    scale: 1.1;
    font-weight: 700;
}*/

.active{
    font-size: 22px;
    font-weight: 700;
}

.hr-nav{
    height: 0;
    width: 15px;
    margin-left: 0px;
    margin-right: 0px;
    align-self: center;
}

.option-menu{
    padding-left: 5%;
    width: 100%;
}

.option-menu:hover{
    font-size: 22px;
}

.section-container{
    text-align: left;
    margin-top: 125px;
}

.experience-box{
    display: flex;
    width: 550px;
    margin-top: 20px;
    border-radius: 0.5rem;
    padding: 10px 0px;
}

.experience-box:hover{
    background-color: #0A0A0A;
}

.experience-date{
    min-width: 70px;
    color: #7A7267;
    padding-left: 10px;
}

.exp-h3{
    margin: 0;
    color: #EBAD6C;
}

.exp-h4{
    color: #7A7267;
}

.exp-description{
    color: #7A7267;
}

.figures-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 550px;
    height: auto;
}

.figura-box{
    width: 56px;
    height: 56px;
    color: #7A7267;
    margin-bottom: 35px;
}

.figura-box:hover .figure-text {
    opacity: 1;
}

.figure-text{
    text-align: center;
    color: #7A7267;
    opacity: 0;
    font-weight: 500;
}

.figura-box:hover{
    color: #ffff;
}

.hr-skills{
    border-width: 2px 0 0;
    border-color: #7A7267;
    width: 550px;
    align-self: left;
    margin-left: 0px;
    margin-top: 125px;
}

.footer-container{
    height: 200px;
    text-align: left;
    color: #a3a3a3;
}

.from{
    margin: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;

}

.pais{
    font-weight: 900;
    margin: 0;
    color: #ffff;
}

.footer-p{
    width: 550px;
}

.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 190px;
    height: auto;
    padding-left: 5px;
}

.proyect-desc{
    padding-left: 10px;
}

a{
    text-decoration: none;
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 800px) {
    .about-container{
        flex-direction: column;
        width: calc(100vw - var(--scrollbar));
        padding: 0;
    }
    .header-container{
        width: 90%;
        padding-left: 5%;
        height: auto;
        position: relative;
        justify-content: center;
    }
    .header-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .perfil-img {
        height: 100px;
        margin: 0;
    }
    .header-h2{ /*Agustin*/
        font-size: 3.9rem;
        text-align: left;
    }
    .header-h3{
        font-size: 1.5rem;
        width: 100%;
        text-align: left;
    }
    .header-p{
        text-align: left;
        width: 100%;
    }
    .menu{
        display: none;
    }
    .side-container{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .about-p{
        width: 100%;
        padding: 0 0;
        text-align: left;
    }
    .experience-box{
        width: 100%;
    }
    .figures-wrapper{
        width: 100%;
    }
    .hr-skills{
        width: 90%;
        margin-left: 5%;
        align-self: center;
    }
    .footer-p{
        width: 100%;
        padding: 0;
    }
}

/* Estilos para pantallas con altura mayor o igual a 550px y menor o igual a 700px */
@media screen and (min-height: 550px) and (max-height: 700px) {
    .header-wrapper{
        padding-top: 50px;
    }
    /* Agrega tus estilos aquí */
    .perfil-img {
        height: 150px;
        padding: 0;
        margin: 0 auto;
    }
    .about-p{
        margin-top: 0px;
        padding-top: 50px;   
    }
  }

  .linkedin{
    margin-top: 5%;
    display: flex;
    width: 70px;
    justify-content: space-around;
  }

.linkedin a{
    color: #cdbead;
    width: 30px;
    height: 30px; 
}

.love{
    display: inline-block;
    width: 15px;
    height: 15px;
}

.proyect{
    display: inline-block;
    color: #7A7267;
    width: auto;
    height: 30px; 
}

.proyect:hover {
    font-weight: 900;
    color: #cdbead;
}

.visit-proyects{
    width: calc(100% - 27px);
    display: flex;
    justify-content: space-between;
}